.contacto{
    background-color: gainsboro;
    background-image: url(/assets/img/cafefondo.png);
    font-family: garamond;
    &Inicio{
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    &Parrafo{
        text-align: center;
        font-size: 20px;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
    }
}
