.tienda{
    background-color: gainsboro;
    font-family: garamond;
    &Inicio{
        padding-top: 3rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    &Parrafo{
        text-align: center;
        font-size: 20px;
        padding-bottom: 2rem;
    }
}
