footer{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black
}

.footerInicio{
    text-align: center;
    color: gainsboro;
}
.footerTitulo{
margin: 1rem;
margin-bottom: 2rem;
}
.footerSubtitulo{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
