.alineadoTarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 25px;
};

.tarjeta {
    margin: 2rem;
    padding: 15px;
    font-family: Garamond;
    color: gainsboro;
    border: 2px solid gainsboro;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 1px 10px gainsboro;
    cursor: default;
    transition: all 400ms ease;

         &:hover {
        box-shadow: 5px 5px 20px black;
        transform: translateY(-3%);
      }
      &Titulo{
        text-align: center;
      }
      &Parrafo{
        text-align: center;
        margin-top: 10px;
      }
  }

